.container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 150px;
    background-color: yellow;
}

.box {
    width: 30px;
    height: 30px;
    margin: 20px;
    background-color: green;
}

.blue {
    position: relative;
    height: 300px;
    width: 400px;
    margin: 20px;
    background-color: lightblue;
}

.welcome {
    padding: 20px;
    color: darkblue;
}

.list {
    margin-top: 40px;
    margin-left: 10px;
}

.braun {
    position: absolute;
    background-color: brown;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 140px;
}

.pink {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: purple;
    bottom: 0;
    right: 0;
}